.content__block{
    box-sizing: border-box;
    border:3px solid black;
    width: 300px;
    min-width: 250px;
    background-color: lightgray;
    height: 300px;
    min-height:250px ;
    margin: 20px;
    text-align:center;
}